@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes pop {
  0% { transform: translateY(30px) scale(0.7); opacity: 0; }
  70% { transform: translateY(-4px) scale(1.07); opacity: 1; }
  100% { transform: translateY(0) scale(1); }
}


html, body {
  background: #000; /* fallback only */
  background: linear-gradient(to bottom right, #0a0f24, #0b1a3a, #081124);
  min-height: 100%;
  color-scheme: dark;
}

